<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Success</title>
{% load static %} <!-- New line -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static "css/traveldataentry.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static "css/dataentry_form.css" %}" rel="stylesheet">

<link href="{% static "css/jqueryCalendar.css" %}" rel="stylesheet">

<!-- For Ajax requests -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="{% static "js/jquery.js" %}"></script> -->
<script src="{% static "js/rango-ajax.js"%}"></script>

<script src="{% static "js/jquery-1.6.2.min.js"%}"></script>
<script src="{% static "js/jquery-ui-1.8.15.custom.min.js"%}"></script>

<style>
h1.hidden {
    display: none;
}
</style>
</head>
<body style="text-align: center;">
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">			  
			  {% if user.is_authenticated %}
					<h3 class="masthead-brand">Hello {{name}} !</h3>
				{% else %}
					<h3 class="masthead-brand">Hello NotLoggedInUser !</h3>
				{% endif %}
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Add a Journey</a></li>
                <li><a href="/journeys/records">Records</a></li>
                <li><a href="/journeys/">Statistics</a></li>
                <!-- <li><a href="DisplayLocationController">Locations</a></li> -->
                {% if user.is_authenticated %}
					 <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
				{% else %}
					<li><a href="/login/register/">Register Here</a></li>
					<li><a href="/login/login/">Login</a></li>
				{% endif %}
              </ul>
            </div>
          </div>

         <div class="inner cover">
            <h1 class="cover-heading">Enter Your Journey Details</h1>
			<div class="row">
			<form class="form-signin" name="pnr_form"  METHOD="post">
				<div class="col-lg-12" id="pnr-search-div">
					<ul id="pnr-search">
						<li><input type="text" id="PNR" name="PNR" SIZE="20" class="form-control" placeholder="Enter Your PNR or Fill out following fields" required autofocus></li>
						<li><button id="fetch1" type="button" onclick="javascript: return getPNRValue();" class="btn btn-lg">fetch details</button></li>
					</ul>
				</div>
			</form>
			</div>
			<div class="row">
			<form class="form-signin" id="entry_form" method="post" action="/entry/add_entry/">
				{% csrf_token %}
				<!-- <div style="color:red; text-align:left; padding-left:10%;"><h5>${requestScope['Invalid PNR']}</h5></div> -->

				<div id="inner-left" class="col-lg-6">
				<p class="lead">
					<input style="margin-bottom: 20px;" id="id_train_name" type="text" maxlength="128" name="train_name" class="form-control" placeholder="Train Name" required value="" list="cats">
					<div id="train_error" style="color:red"></div>
					<datalist id="cats">
					</datalist>
					<input style="margin-bottom: 20px;" id="id_date_of_journey" name="date_of_journey" type="date" type="text" class="form-control" placeholder="Date Of Journey" required value="">
					<input style="margin-bottom: 20px;" id="id_from_station" maxlength="4" name="from_station" type="text" list="source" class="form-control" placeholder="Source" required value="">
					<datalist id="source">
					</datalist>
					<input style="margin-bottom: 20px;" id="id_to_station" maxlength="4" name="to_station" type="text" list="destinations" class="form-control" placeholder="Destination" required value="">
					<datalist id="destinations">
					</datalist>
					<div id="id_class_selection">
						<ul id="class-input-list">
							<li>Class:</li>
							<li><label for="id_class_selection_0"><input id="id_class_selection_0" name="class_selection" type="radio" value="1-AC" /> 1-AC</label></li>
							<li><label for="id_class_selection_1"><input id="id_class_selection_1" name="class_selection" type="radio" value="2-AC" /> 2-AC</label></li>
							<li><label for="id_class_selection_2"><input id="id_class_selection_2" name="class_selection" type="radio" value="3-AC" /> 3-AC</label></li>
							<li><label for="id_class_selection_3"><input id="id_class_selection_3" name="class_selection" type="radio" value="SL" /> SL</label></li>
							<li><label for="id_class_selection_4"><input id="id_class_selection_4" name="class_selection" type="radio" value="CC" /> CC</label></li>
							<li><label for="id_class_selection_5"><input id="id_class_selection_5" name="class_selection" type="radio" value="Others" /> Others</label></li>
						</ul>
					</div>
				</p>
				</div>
					<div id="inner-right" class="col-lg-6">
				
					<div id="berth-input">
						<ul id="berth-input-list">
							<li>Berth:</li>
							<li><label for="id_berth_selection_0"><input id="id_berth_selection_0" name="berth_selection" type="radio" value="L" /> L</label></li>
							<li><label for="id_berth_selection_1"><input id="id_berth_selection_1" name="berth_selection" type="radio" value="M" /> M</label></li>
							<li><label for="id_berth_selection_2"><input id="id_berth_selection_2" name="berth_selection" type="radio" value="U" /> U</label></li>
							<li><label for="id_berth_selection_3"><input id="id_berth_selection_3" name="berth_selection" type="radio" value="SL" /> SL</label></li>
							<li><label for="id_berth_selection_4"><input id="id_berth_selection_4" name="berth_selection" type="radio" value="SM" /> SM</label></li>
							<li><label for="id_berth_selection_5"><input id="id_berth_selection_5" name="berth_selection" type="radio" value="SU" /> SU</label></li>
							<li><label for="id_berth_selection_6"><input id="id_berth_selection_6" name="berth_selection" type="radio" value="Others" /> Others</label></li>
						</ul>
					</div>
				<p class="lead">
					<textarea id="memorable-moments" type="text" name="comments" class="form-control" placeholder="Memorable Moments" style="resize:none" value="NA"></textarea> 
					<div id="Comments_error" style="color:red"></div>
					<div id="buttons-control">
						<ul id="submit-buuton-input-list">
							<li><INPUT TYPE="SUBMIT" VALUE="Submit" class="btn btn-lg btn-success"></li>
							<li><INPUT TYPE="RESET" VALUE="Reset" class="btn btn-lg btn-success"></li>
						</ul>
					</div>
				</p>
				</div>
				<input class="hidden" id="id_distance_covered" name="distance_covered" type="text" value="0" />
				<input class="hidden" id="id_username" maxlength="30" name="username" type="text" value="{{name}}" />
			</form>
			</div>
          </div>
        </div>

          <div class="mastfoot">
            <div class="inner">
              <p style="color: green">Copyrights Reserved</p>
            </div>
          </div>

        </div>

      </div>

</body>
</html>
