<!DOCTYPE html>
<html>
<head>
	<title>Travelogue.com</title>
	<!-- Bootstrap core CSS -->
	{% load static %} <!-- New line -->
	<!-- Custom styles for this template -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href="{% static "css/signin.css" %}" rel="stylesheet">
</head>

    <body>
		<div class="form-style-8">
		<h2>Login to Travelogue</h2>
        <form id="login_form" method="post" action="/login/login/">
            {% csrf_token %}
            <input type="text" name="username" maxlength="30" class="form-control" placeholder="Username"  required autofocus />
            <br />
            <input type="password" name="password" maxlength="30" class="form-control" placeholder="Password" required />
            <br />

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="submit" />
        </form>
		</div>
    </body>
</html>