<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title> Travelogue | Profile </title>
{% load static %} <!-- New line -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static "css/traveldataentry.css" %}" rel="stylesheet">
<style>
	.avatar {
    width:250px;
    height:250px;
    border:6px solid #000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
	}
</style>
</head>
<body style="text-align: center;">
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">			  
			  {% if user.is_authenticated %}
					<h3 class="masthead-brand">Hello {{name}} !</h3>
				{% else %}
					<h3 class="masthead-brand">Hello NotLoggedInUser !</h3>
				{% endif %}
              <ul class="nav masthead-nav">
                <li class="active"><a href="/profile">Profile</a></li>
                <li><a href="#">Add a Journey</a></li>
                <li><a href="/journeys/records">Records</a></li>
                <li><a href="/journeys/">Statistics</a></li>
                <!-- <li><a href="DisplayLocationController">Locations</a></li> -->
                {% if user.is_authenticated %}
					 <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
				{% else %}
					<li><a href="/login/register/">Register Here</a></li>
					<li><a href="/login/login/">Login</a></li>
				{% endif %}
              </ul>
            </div>
          </div>

         <div class="inner cover">
         	<div class="row" style="padding-bottom: 30px;">
				<div class="col-lg-12" id="pnr-search-div">
         			<img class="avatar" src="{% static "img/profiles/profilePicture.png" %}" alt="">
         		</div>
         	</div>
         	
			<div style="padding:70px; padding-top: 20px; padding-bottom: 20px;"  id="inner-left" class="col-lg-6">
				<div class="list-group">
		            <a href="" class="list-group-item">Cras justo odio</a>
		            <a href="" class="list-group-item">Dapibus ac facilisis in</a>
		            <a href="" class="list-group-item">Morbi leo risus</a>
		            <a href="" class="list-group-item">Porta ac consectetur ac</a>
		            <a href="" class="list-group-item">Vestibulum at eros</a>
		         </div>
			</div>
			
			<div style="padding:70px; padding-top: 20px; padding-bottom: 20px;" id="inner-right" class="col-lg-6">
				<div class="list-group">
		            <a href="" class="list-group-item">Cras justo odio</a>
		            <a href="" class="list-group-item">Dapibus ac facilisis in</a>
		            <a href="" class="list-group-item">Morbi leo risus</a>
		            <a href="" class="list-group-item">Porta ac consectetur ac</a>
		            <a href="" class="list-group-item">Vestibulum at eros</a>
		         </div>
			</div>
          </div>
        </div>

          <div class="mastfoot">
            <div class="inner">
              <p style="color: green">Copyrights Reserved</p>
            </div>
          </div>

        </div>

      </div>

</body>
</html>
