<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="pragma"        content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />

<!-- Bootstrap core CSS -->
{% load static %} <!-- New line -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static "css/traveldataentry.css" %}" rel="stylesheet">

<script type="text/javascript" src="js/jquery-1.10.2.js"></script> 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Tg3D8gm1S4YoqAH65i_HENA75UePGUk&sensor=false"> </script>
<title>MyTravelogue: statistics for train, source station, destination, berths, yearly count, monthly count etc. </title>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart1);
      google.setOnLoadCallback(drawChart2);
      google.setOnLoadCallback(drawChart3);
      google.setOnLoadCallback(drawChart4);
      google.setOnLoadCallback(drawChart6);
      google.setOnLoadCallback(drawChart7);
      google.setOnLoadCallback(drawChart8);
      google.setOnLoadCallback(drawChart9);
      
      function drawChart1() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['serviceProviders', 'Count'],
			{% for e in serviceProviders %}['{{ e.ServiceProvider }}',{{ e.dcount }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My Train Preferences',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
        chart.draw(data, options);
      }
	  
	  function drawChart2() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['from_airports', 'Count'],
			{% for e in from_airport_list %}['{{ e.from_airport }}',{{ e.count_from_stations }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My Top Source stations',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
        chart.draw(data, options);
      }
	  
	  function drawChart3() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['to_airports', 'Count'],
			{% for e in to_airport_list %}['{{ e.to_airport }}',{{ e.count_to_stations }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My Top Destinations',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart3'));
        chart.draw(data, options);
      }
	  
	  function drawChart4() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['Trains', 'Class'],
			{% for e in class_selection %}['{{ e.class_selection }}',{{ e.count_class_selection }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My Class Preferences',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart4'));
        chart.draw(data, options);
      }
	  
	  function drawChart6() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['Berths', 'Count'],
			{% for e in berths %}['{{ e.berth_selection }}',{{ e.count_berth }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My berth selections',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart6'));
        chart.draw(data, options);
      }
	  
	  function drawChart7() {
		  var data = new google.visualization.DataTable();
      data.addColumn('string', 'Year');
      data.addColumn('number', 'NumberOfJourneys');

      data.addRows([
			{% for e in number_of_journeys_in_a_year %}['{{ e.year }}',{{ e.all_from }}],{% endfor %}
      ]);

      var options = {
		legend: 'none',
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'NumberOfJourneys'
        }
      };

		var chart = new google.visualization.LineChart(document.getElementById('bargraph1'));

		  chart.draw(data, options);
      }
	  
	  function drawChart8() {
		var data = google.visualization.arrayToDataTable([
			['Month', 'NumberOfJourneys'],
			{% for e in number_of_journeys_in_a_month %}['{{ e.months }}',{{ e.all_from }}],{% endfor %}
		  ]);

		  var options = {
			legend: 'none',
			hAxis: {title: 'month', titleTextStyle: {color: 'red'}}
		  };

		  var chart = new google.visualization.ColumnChart(document.getElementById('bargraph2'));

		  chart.draw(data, options);
      }
	  
	  function drawChart9() {
		var data = google.visualization.arrayToDataTable([
			['Weekday', 'NumberOfJourneys'],
			{% for e in number_of_journeys_in_a_weekday %}['{{ e.days }}',{{ e.all_from }}],{% endfor %}
		  ]);

		  var options = {
			hAxis: {title: 'weekDay', titleTextStyle: {color: 'red'}}
		  };

		  var chart = new google.visualization.ColumnChart(document.getElementById('bargraph3'));

		  chart.draw(data, options);
      }
	  
    </script>   
</head>
<body style="text-align: center;">
	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
				{% if user.is_authenticated %}
					<h3 class="masthead-brand">Hello {{name}} !</h3>
				{% else %}
					<h3 class="masthead-brand">Hello Guest !</h3>
				{% endif %}
              <ul class="nav masthead-nav">
                <li><a href="/user/{{name}}">Share</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/entry/">Add a Journey</a></li>
                <li><a href="/journeys/records/">Records</a></li>
                <li><a href="/journeys/">Train Statistics</a></li>
                <li class="active"><a href="/journeys/air_travel">Plane Statistics</a></li>
                <!-- <li><a href="DisplayLocationController">Locations</a></li> -->
				{% if user.is_authenticated %}
					 <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
				{% else %}
					<li><a href="/login/register/">Register Here</a></li>
					<li><a href="/login/login/">Login</a></li>
				{% endif %}
              </ul>
            </div>
          </div>
  		{% if user.is_authenticated %}
        <div class="inner cover">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Your Travelogue</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div id="inner-left" class="col-lg-4">
							<h1><b style="color: #336699; font-size:80px;">{{total_distance_travelled}}</b></h1>
							<h2>Approximate Total distance travelled in km</h2>
						</div>
						<div id="inner-centre" class="col-lg-4">
							<h1><b style="color: #336699; font-size:80px;">{{number_of_copanies}}</b></h1>
							<h2>Number of Companies you have used</h2>
						</div>
						<div id="inner-right" class="col-lg-4">
							<h1><b style="color: #336699; font-size:80px;">{{number_of_places}}</b></h1>
							<h2>Number of places you've been to</h2>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div id="inner-left" class="col-lg-8">
					<div class="panel panel-info">
					<div class="panel-heading">
					<h3>Bird's eye view of your travel</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div  id="map-canvas" style="width: 100%; height: 738px;"> </div>
						</div>
					</div>
					</div>
				</div>
				
				<div id="inner-right" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Longest Journey till date</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{longest_journey}} km</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Total number of journeys</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{total_number_of_journeys}}</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Avergae length of journeys</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{average_distance_covered}} km</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Travelogue Rank(Distance)</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{travelogue_rank_distance}}</b></h1>
					</div>
				</div>
            </div>
		  
			<div class="row">
				<div id="inner-left" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Train Selections</h3>
						</div>
					<div class="panel-body">
						<div id="piechart1" style="width: 100%; height: 500px;"></div>
					</div>
					</div>
				</div>
				<div id="inner-centre" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Top Source Stations</h3>
						</div>
						<div class="panel-body">
							<div id="piechart2" style="width: 100%; height: 500px;"></div>
						</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Top Destinations</h3>
						</div>
						<div class="panel-body">
							<div id="piechart3" style="width: 100%; height: 500px;"></div>
						</div>
					</div>
				</div>
			</div>
		  	
			<div class="row">
				<div id="inner-left" class="col-lg-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Class Preferences</h3>
					</div>
					<div class="panel-body">
					<div id="piechart4" style="width: 100%; height: 500px;"></div>
					</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Berth Fortunes</h3>
						</div>
						<div class="panel-body">
							<div id="piechart6" style="width: 100%; height: 500px;"></div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Time-line of your travels by year</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div id="bargraph1" style="width: 100%; height: 500px"></div>	
					</div>
				</div>
			</div>
			
			
			
			<div class="row">
				<div id="inner-left" class="col-lg-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Journey Stats by Month</h3>
					</div>
					<div class="panel-body">
						<div id="bargraph2" style="width: 100%; height: 500px"></div>
					</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Journey Stats by Weekdays</h3>
					</div>
					<div class="panel-body">
						<div id="bargraph3" style="width: 100%; height: 500px"></div> 
					</div>
					</div>
				</div>
            </div>

          <div class="mastfoot">
            <div class="inner">
              <p></p>
            </div>
          </div>

        </div>
		{% else %}
		<div class="inner cover">
			<h1>Please login</h1> 
		</div>
		{% endif %}
      </div>

    </div>
    </div>

<script>
function initialize() {
  // Create the map.
  var mapOptions = {
    zoom: 3,
  	scrollwheel:false,
  	center: new google.maps.LatLng(0, -180),
  	mapTypeId: google.maps.MapTypeId.TERRAIN 
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var locations_plot = [
    [new google.maps.LatLng(37.772323, -122.214897),new google.maps.LatLng(-27.46758, 153.027892)],

    
  ];

	for (var i = 0; i < locations_plot.length; i++) {
    	var flightPath = new google.maps.Polyline({
        path: locations_plot[i],
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
      });
    	  flightPath.setMap(map);
   }
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>
</html>