<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="pragma"        content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />

<!-- Bootstrap core CSS -->
{% load static %} <!-- New line -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static "css/traveldataentry.css" %}" rel="stylesheet">

<script type="text/javascript" src="js/jquery-1.10.2.js"></script> 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Tg3D8gm1S4YoqAH65i_HENA75UePGUk&sensor=false"> </script>
<title>{{name}}</title>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=370684603080544&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>    	  
</head>
<body style="text-align: center;">
	<div id="fb-root"></div>
	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
				{% if user.is_authenticated %}
					<h3 class="masthead-brand">Hello {{name}} !</h3>
				{% else %}
					<h3 class="masthead-brand">Hello Guest !</h3>
				{% endif %}
              <ul class="nav masthead-nav">
			  {% if user.is_authenticated %}
			  	<li><a href="/">Home</a></li>
                <li><a href="/entry/add_entry/">Add a Journey</a></li>
                <li><a href="/journeys/records/">Records</a></li>
                <li><a href="/journeys/">Statistics</a></li>
				<li><a href="/entry/">Logout</a></li>
			  {% else %}
				<li><a href="/login/register/">Register Here</a></li>
				<li><a href="/login/login/">Login</a></li>
			  {% endif %}
              </ul>
            </div>
          </div>
  
        <div class="inner cover">
			<div class="row">
				<div id="inner-left-8" class="col-lg-8">
					<div class="panel panel-info">
					<div class="panel-heading">
					<h3>Bird's eye view of your travel</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div  id="map-canvas" style="width: 100%; height: 738px;"> </div>
						</div>
					</div>
					</div>
				</div>
				
				<div id="inner-right-4" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Longest Journey till date</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{longest_journey}}</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Total number of journeys</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{total_number_of_journeys}}</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Avergae length of journeys</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{average_length_of_journeys}} km</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Travelogue Rank</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{travelogue_rank_distance}}</b></h1>
					</div>
				</div>
            </div>
			<div class="mastfoot">
            <div class="inner">
              <p></p>
            </div>
          </div>

        </div>

      </div>

    </div>
    </div>

<script>
// First, create an object containing LatLng and population for each city.
var citymap = {};
{% for e in lat_long_list_of_stations %}
citymap['{{e.station_name}}'] = {
  center: new google.maps.LatLng({{e.station_lat}}, {{e.station_long}}),
  population: {{e.visits}}*100000
};
{%endfor%}

var cityCircle;

function initialize() {
  // Create the map.
  var mapOptions = {
    zoom: 5,
  	scrollwheel:false,
  	center: new google.maps.LatLng(22.830852, 80.278573),
  	mapTypeId: google.maps.MapTypeId.HYBRID 
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Construct the circle for each value in citymap.
  // Note: We scale the area of the circle based on the population.
  for (var city in citymap) {
    var populationOptions = {
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: citymap[city].center,
      radius: Math.sqrt(citymap[city].population) * 100
    };
    // Add the circle for this city to the map.
    cityCircle = new google.maps.Circle(populationOptions);
  }
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
</body>
</html>