<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="pragma"        content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />

<!-- Bootstrap core CSS -->
{% load static %} <!-- New line -->
	<link href="{% static "css/style.css" %}" rel="stylesheet">
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/traveldataentry.css" %}" rel="stylesheet">
	<script type="text/javascript" src="js/analytics.js"></script> 
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<title>MyTravelogue: Records</title>
	<script type="text/javascript">
		$(document).ready(function(){$(".comment").shorten({
		    "showChars" : 70,
		    "moreText"  : "See More",
		    "lessText"  : "Less",
		});});	
	</script>
	<style>a{color:#0254eb}a:visited{color:#0254eb}a:hover{color:#0254eb}a.morelink{text-decoration:none;outline:none}.morecontent span{display:none}</style>
	</head>
<body>
	<div class="site-wrapper">

		<div class="site-wrapper-inner">

        	<div class="cover-container">
			 <div class="masthead clearfix">
            <div class="inner">
				{% if user.is_authenticated %}
					<h3 class="masthead-brand">Hello {{name}} !</h3>
				{% else %}
					<h3 class="masthead-brand">Hello NotLoggedInUser !</h3>
				{% endif %}
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/entry/add_entry">Add a Journey</a></li>
                <li class="active"><a href="/journeys/records">Records</a></li>
                <li><a href="/journeys/">Train Statistics</a></li>
                <li><a href="/journeys/air_travel">Plane Statistics</a></li>
				{% if user.is_authenticated %}
					 <li><a href="/entry/">Logout</a></li>
				{% else %}
					<li><a href="/login/register/">Register Here</a></li>
					<li><a href="/login/login/">Login</a></li>
				{% endif %}
              </ul>
            </div>
          	</div>
          	<div class="inner cover">
			<section id="cd-timeline" class="cd-container">
				{% for e in entries %}
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-picture">
						<!-- <img src="img/cd-icon-picture.svg" alt=""> -->
					</div> <!-- cd-timeline-img -->
		
					<div class="cd-timeline-content">
						<h3>{{ e.train_name }}</h3>
						<h4>	
							Source Station = {{ e.from_station }} </br>
							Destination = {{ e.to_station }} </br>
							Distance Travelled = {{ e.distance_covered }} KM </br>
							<div class="comment">{{ e.comments}}</div>
							<a href="/journeys/records/train/{{e.id}}">See more</a>
							
						</h4>
						<!--<a href="#0" class="cd-read-more">Read more</a>-->
						<span class="cd-date">{{ e.date_of_journey }}</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->
				{% endfor %}
				{% for j in air_entries %}
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-movie">
						<!-- <img src="img/cd-icon-picture.svg" alt=""> -->
					</div> <!-- cd-timeline-img -->
		
					<div class="cd-timeline-content">
						<h3>{{ j.ServiceProvider }}</h3>
						<h4>	
							Source Station = {{ j.from_airport }} </br>
							Destination = {{ j.to_airport }} </br>
							Distance Travelled = {{ j.distance_covered }} KM </br>
							<div class="comment">{{ j.comments}}</div>
							<a href="/journeys/records/air/{{j.id}}">See more</a>
							
						</h4>
						<!--<a href="#0" class="cd-read-more">Read more</a>-->
						<span class="cd-date">{{ j.date_of_journey }}</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->
				{% endfor %}
			</section> <!-- cd-timeline -->
			</div>
			</div>
		</div>
	
	</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script> <!-- Resource jQuery -->
<script>
var map = new google.maps.Map(document.getElementById("map-canvas"), {
  	zoom: 4,
  	scrollwheel:false,
  	center: new google.maps.LatLng(24.730852, 79.278573),
  	mapTypeId: google.maps.MapTypeId.ROADMAP
	});
	
</script>
<script>
	(function($) {
	$.fn.shorten = function (settings) {
		var config = {
			showChars: 100,
			ellipsesText: "...",
			moreText: "more",
			lessText: "less"
		};
		if (settings) {
			$.extend(config, settings);
		}
		$(document).off("click", '.morelink');
		$(document).on({click: function () {
				var $this = $(this);
				if ($this.hasClass('less')) {
					$this.removeClass('less');
					$this.html(config.moreText);
				} else {
					$this.addClass('less');
					$this.html(config.lessText);
				}
				$this.parent().prev().toggle();
				$this.prev().toggle();
				return false;
			}
		}, '.morelink');
		return this.each(function () {
			var $this = $(this);
			if($this.hasClass("shortened")) return;
			$this.addClass("shortened");
			var content = $this.html();
			if (content.length > config.showChars) {
				var c = content.substr(0, config.showChars);
				var h = content.substr(config.showChars, content.length - config.showChars);
				var html = c + '<span class="moreellipses">' + config.ellipsesText + ' </span><span class="morecontent"><span>' + h + '</span> <a href="#" class="morelink">' + config.moreText + '</a></span>';
				$this.html(html);
				$(".morecontent span").hide();
			}
		});
	};
 })(jQuery);
</script>
</body></html>