<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="pragma"        content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />

<!-- Bootstrap core CSS -->
{% load static %} <!-- New line -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static "css/traveldataentry.css" %}" rel="stylesheet">

<!-- Styles for d3 charts -->
<link href="{% static "css/charts/nv.d3.css" %}" rel="stylesheet">

<script type="text/javascript" src="js/jquery-1.10.2.js"></script> 
<script src="{% static "js/charts_js/d3.min.js"%}"></script>
<script src="{% static "js/charts_js/nv.d3.js"%}"></script>
<script src="{% static "js/charts_js/lib/stream_layers.js"%}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Tg3D8gm1S4YoqAH65i_HENA75UePGUk&sensor=false"> </script>
<title>Travelogue | statistics for train and plane journeys</title>
<style>
    </style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart1);
      google.setOnLoadCallback(drawChart2);
      google.setOnLoadCallback(drawChart3);
      google.setOnLoadCallback(drawChart4);
      google.setOnLoadCallback(drawChart5);
      google.setOnLoadCallback(drawChart6);
      google.setOnLoadCallback(drawChart7);
      google.setOnLoadCallback(drawChart8);
      google.setOnLoadCallback(drawChart9);
      google.setOnLoadCallback(drawChart10);
      google.setOnLoadCallback(drawChart11);
      google.setOnLoadCallback(drawChart12);
      google.setOnLoadCallback(drawChart13);
      google.setOnLoadCallback(drawChart14);
   
   function drawChart1() {
   var height = 350;
   var width = 350;
      var testdata = [
      {% for e in entries %}
        {key: '{{ e.train_name }}', y: {{ e.dcount }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height)
            .showLegend(false);

        d3.select("#piechart1")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
    }
	  function drawChart2() {
	  var height = 350;
   	  var width = 350;
		var testdata = [
      {% for e in from_stations %}
        {key: '{{ e.from_station }}', y: {{ e.count_from_stations }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart2")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
	  
	  function drawChart3() {
	  	var height = 350;
   		var width = 350;
		  var testdata = [
      {% for e in to_stations %}
        {key: '{{ e.to_station }}', y: {{ e.count_to_stations }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart3")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
	  
	  function drawChart4() {
	  	var height = 350;
   		var width = 350;
	var testdata = [
      {% for e in class_selection %}
        {key: '{{ e.class_selection }}', y: {{ e.count_class_selection }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart4")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
	  
	  function drawChart5() {
	  	var height = 350;
   		var width = 350;
	var testdata = [
     {% for e in train_types_dict %}
        {key: '{{ e.train_type }}', y: {{ e.count }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart5")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
	  
	  function drawChart6() {
	  	var height = 350;
   		var width = 350;
		var testdata = [
     {% for e in berths %}
        {key: '{{ e.berth_selection }}', y: {{ e.count_berth }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart6")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
	  
	  function drawChart7() {
	  	var height = 350;
   		var width = 350;
		var testdata = [
     {% for e in serviceProviders %}
        {key: '{{ e.ServiceProvider }}', y: {{ e.dcount }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart7")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
      
      function drawChart8() {
	  	var height = 350;
   		var width = 350;
		var testdata = [
     {% for e in from_airport_list %}
        {key: '{{ e.from_airport }}', y: {{ e.count_from_stations }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart8")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
      
      function drawChart9() {
	  	var height = 350;
   		var width = 350;
		var testdata = [
     {% for e in to_airport_list %}
        {key: '{{ e.to_airport }}', y: {{ e.count_to_stations }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart9")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
      
      function drawChart10() {
	  	var height = 350;
   		var width = 350;
		var testdata = [
     {% for e in class_selection_list_air %}
        {key: '{{ e.class_selection }}', y: {{ e.count_class_selection }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart10")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
	  
	  function drawChart11() {
	  	var height = 350;
   		var width = 350;
		var testdata = [
     {% for e in berth_list_air %}
        {key: '{{ e.berth_selection }}', y: {{ e.count_berth }}},
        {% endfor %}
    ];

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#piechart11")
            .datum(testdata)
            .attr('width', width)
            .attr('height', height)
            .call(chart);
        return chart;
    });
      }
      
	  function drawChart12() {
		  var chart;

    nv.addGraph(function() {
		yearlyStatsData= [
            {
               values:[
					{% for e in number_of_journeys_in_a_year_air %}
			        	{x:{{e.year}}, y:{{e.all_from}}},
        			{% endfor %}
				],
                key: "Plane Journyes",
                color: "#A80000"
            }
            ,
            {
                values:[
					{% for e in number_of_journeys_in_a_year %}
			        	{x:{{e.year}}, y:{{e.all_from}}},
        			{% endfor %}
				],
                key: "Train Journeys",
                color: "#33CC33"
            }
        ];
        chart = nv.models.lineChart()
            .options({
                useInteractiveGuideline: true
            })
        ;

        // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the parent chart, so need to chain separately
        chart.xAxis
            .axisLabel("Year")
            .staggerLabels(false)
        ;

        chart.yAxis
            .axisLabel('Journeys')
        ;

        d3.select('#bargraph1').append('svg')
            .datum(yearlyStatsData)
            .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
    });
      }
	  
	  function drawChart13() {
	  	var height = 1000;
   		var width = 500;
		  monthlyStatsData = [
        {
            key: "Journeys by Months",
            values: [
            {% for e in number_of_journeys_in_a_month %}
                {
                    "label" : "{{ e.months }}" ,
                    "value" : {{ e.all_from }}
                } ,
            {% endfor %}
            ]
        }
    ];
    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .staggerLabels(true)
            .tooltips(false)
            .showValues(true)
            ;

        d3.select('#barchart1')
            .datum(monthlyStatsData)
            .call(chart);
        return chart;
    });
      }
	  
	  function drawChart14() {
	  	var height = 1000;
   		var width = 500;
		   historicalBarChart = [
        {
            key: "Journeys by weekdays",
            values: [
            {% for e in number_of_journeys_in_a_weekday %}
                {
                    "label" : "{{ e.days }}" ,
                    "value" : {{ e.all_from }}
                } ,
            {% endfor %}
            ]
        }
    ];
    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .staggerLabels(true)
            .tooltips(false)
            .showValues(true)
            ;

        d3.select('#barchart2')
            .datum(historicalBarChart)
            .call(chart);
        return chart;
    });
      }
	  
    </script>   
</head>
<body style="text-align: center;">
	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
				{% if user.is_authenticated %}
					<h3 class="masthead-brand">Hello {{name}} !</h3>
				{% else %}
					<h3 class="masthead-brand">Hello Guest !</h3>
				{% endif %}
              <ul class="nav masthead-nav">
              	{% if user.is_authenticated %}
                <li><a href="/">Home</a></li>
                <li><a href="/entry/add_entry/">Add a Journey</a></li>
                <li><a href="/journeys/records/">Records</a></li>
                <li class="active"><a href="/journeys/">Statistics</a></li>
				<li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
				{% else %}
					<li><a href="/">Home</a></li>
					<li><a href="/login/register/">Register Here</a></li>
					<li><a href="/login/login/">Login</a></li>
				{% endif %}
              </ul>
            </div>
          </div>
        <div class="inner cover">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Your Travelogue</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div id="inner-left" class="col-lg-4">
							<h1><b style="color: #336699; font-size:80px;">{{total_distance_travelled}}</b></h1>
							<h2>Approximate Total distance travelled in km</h2>
						</div>
						<div id="inner-centre" class="col-lg-4">
							<h1><b style="color: #336699; font-size:80px;">{{number_of_trains}}</b></h1>
							<h2>Number of Trains you've travelled in</h2>
						</div>
						<div id="inner-right" class="col-lg-4">
							<h1><b style="color: #336699; font-size:80px;">{{number_of_places}}</b></h1>
							<h2>Number of places you've been to</h2>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div id="inner-left" class="col-lg-8">
					<div class="panel panel-info">
					<div class="panel-heading">
					<h3>Bird's eye view of your travel</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div  id="map-canvas" style="width: 100%; height: 738px;"> </div>
						</div>
					</div>
					</div>
				</div>
				
				<div id="inner-right" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Longest Journey till date</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{longest_journey}} km</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Total number of journeys</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{total_number_of_journeys}}</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Avergae length of journeys</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{average_length_of_journeys}} km</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Travelogue Rank(Distance)</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{travelogue_rank_distance}}</b></h1>
					</div>
				</div>
            </div>
            
            <div class="page-header">
      		</div>
		  	<div class="panel panel-info">
        		<div class="panel-heading">
					<h1>On the rails</h1>
				</div>
			</div>
			<div class="row">
				<div id="inner-left" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Train Selections</h3>
						</div>
					<div class="panel-body">
						<!-- <div id="piechart1" style="width: 100%; height: 500px;"></div>-->
						<svg id="piechart1" class="mypiechart"></svg>
					</div>
					</div>
				</div>
				<div id="inner-centre" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Top Source Stations</h3>
						</div>
						<div class="panel-body">
							<svg id="piechart2" class="mypiechart"></svg>
						</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Top Destinations</h3>
						</div>
						<div class="panel-body">
							<svg id="piechart3" class="mypiechart"></svg>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="inner-left" class="col-lg-4">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Class Preferences</h3>
					</div>
					<div class="panel-body">
					<svg id="piechart4" class="mypiechart"></svg>
					</div>
					</div>
				</div>
				<div id="inner-centre" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Train Type Selections</h3>
						</div>
						<div class="panel-body">
							<svg id="piechart5" class="mypiechart"></svg>
						</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Berth Fortunes</h3>
						</div>
						<div class="panel-body">
							<svg id="piechart6" class="mypiechart"></svg>
						</div>
					</div>
				</div>
			</div>
			
			<div class="page-header">
      		</div>
		  	<div class="panel panel-info">
        		<div class="panel-heading">
					<h1>In The Air</h1>
				</div>
			</div>
      		
      		<div class="row">
				<div id="inner-left" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Carrier Selections</h3>
						</div>
					<div class="panel-body">
						<svg id="piechart7" class="mypiechart"></svg>
					</div>
					</div>
				</div>
				<div id="inner-centre" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Top Source Stations</h3>
						</div>
						<div class="panel-body">
							<svg id="piechart8" class="mypiechart"></svg>
						</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Top Destinations</h3>
						</div>
						<div class="panel-body">
							<svg id="piechart9" class="mypiechart"></svg>
						</div>
					</div>
				</div>
			</div>
      		
      		<div class="row">
				<div id="inner-left" class="col-lg-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Class Preferences</h3>
					</div>
					<div class="panel-body">
						<svg id="piechart10" class="mypiechart"></svg>
					</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Berth Fortunes</h3>
						</div>
						<div class="panel-body">
							<svg id="piechart11" class="mypiechart"></svg>
						</div>
					</div>
				</div>
			</div>
			
      		<div class="row">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Time-line of your travels by year</h3>
					</div>
					<div class="panel-body">
						<svg style="height:400px; vertical-align:center;" id="bargraph1"></svg>	
					</div>
				</div>
			</div>		
			
			<div class="row">
				<div id="inner-left" class="col-lg-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Journey Stats by Month</h3>
					</div>
					<div class="panel-body">
						<svg id="barchart1"></svg>
					</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Journey Stats by Weekdays</h3>
					</div>
					<div class="panel-body"> 
						<svg id="barchart2"></svg>
					</div>
					</div>
				</div>
            </div>

          <div class="mastfoot">
            <div class="inner">
              <p></p>
            </div>
          </div>

        </div>
      </div>

    </div>
    </div>

<script>
// First, create an object containing LatLng and population for each city.
var citymap = {};
{% for e in lat_long_list_of_stations %}
citymap['{{e.station_name}}'] = {
  center: new google.maps.LatLng({{e.station_lat}}, {{e.station_long}}),
  population: {{e.visits}}*100000
};
{%endfor%}

var citymap2 = {};
{% for e in lat_long_list_of_stations_air %}
citymap2['{{e.station_name}}'] = {
  center: new google.maps.LatLng({{e.station_lat}}, {{e.station_long}}),
  population: {{e.visits}}*100000
};
{%endfor%}

var cityCircle;

function initialize() {
  // Create the map.
  var mapOptions = {
    zoom: 5,
  	scrollwheel:false,
  	center: new google.maps.LatLng(22.830852, 80.278573),
  	mapTypeId: google.maps.MapTypeId.ROADMAP 
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Construct the circle for each value in citymap.
  // Note: We scale the area of the circle based on the population.
  for (var city in citymap) {
    var populationOptions = {
      strokeColor: '#000000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0040',
      fillOpacity: 0.35,
      map: map,
      title:city,
      center: citymap[city].center,
      radius: Math.sqrt(citymap[city].population) * 100
    };
    // Add the circle for this city to the map.
    cityCircle = new google.maps.Circle(populationOptions);
        // Add event listener to every circle created to show the name of the place
    google.maps.event.addListener(cityCircle,'mouseover',function(){
     this.getMap().getDiv().setAttribute('title',this.get('title'));});

	google.maps.event.addListener(cityCircle,'mouseout',function(){
     this.getMap().getDiv().removeAttribute('title');});
  }
  
  for (var city in citymap2) {
    var populationOptions = {
      strokeColor: '#000000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: "#2EFE2E",
      fillOpacity: 0.35,
      map: map,
      title:city,
      center: citymap2[city].center,
      radius: Math.sqrt(citymap2[city].population) * 100
    };
    // Add the circle for this city to the map.
    cityCircle = new google.maps.Circle(populationOptions);
    
    // Add event listener to every circle created to show the name of the place
    google.maps.event.addListener(cityCircle,'mouseover',function(){
     this.getMap().getDiv().setAttribute('title',this.get('title'));});

	google.maps.event.addListener(cityCircle,'mouseout',function(){
     this.getMap().getDiv().removeAttribute('title');});
  }

 }

google.maps.event.addDomListener(window, 'load', initialize);


     
</script>
</body>
</html>