<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="pragma"        content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />

<!-- Bootstrap core CSS -->
{% load static %} <!-- New line -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static "css/traveldataentry.css" %}" rel="stylesheet">

<script type="text/javascript" src="js/jquery-1.10.2.js"></script> 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Tg3D8gm1S4YoqAH65i_HENA75UePGUk&sensor=false"> </script>
<title>{{name}}</title>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart1);
      google.setOnLoadCallback(drawChart2);
      google.setOnLoadCallback(drawChart3);
      google.setOnLoadCallback(drawChart4);
      google.setOnLoadCallback(drawChart5);
      google.setOnLoadCallback(drawChart6);
      google.setOnLoadCallback(drawChart7);
      google.setOnLoadCallback(drawChart8);
      google.setOnLoadCallback(drawChart9);
      
      function drawChart1() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['Trains', 'Count'],
			{% for e in entries %}['{{ e.train_name }}',{{ e.dcount }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My Train Preferences',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
        chart.draw(data, options);
      }
	  
	  function drawChart2() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['fromStations', 'Count'],
			{% for e in from_stations %}['{{ e.from_station }}',{{ e.count_from_stations }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My Top Source stations',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
        chart.draw(data, options);
      }
	  
	  function drawChart3() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['ToStations', 'Count'],
			{% for e in to_stations %}['{{ e.to_station }}',{{ e.count_to_stations }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My Top Destinations',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart3'));
        chart.draw(data, options);
      }
	  
	  function drawChart4() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['Trains', 'Class'],
			{% for e in class_selection %}['{{ e.class_selection }}',{{ e.count_class_selection }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My Class Preferences',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart4'));
        chart.draw(data, options);
      }
	  
	  function drawChart5() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['TrainType', 'Count'],
			{% for e in train_types_dict %}['{{ e.train_type }}',{{ e.count }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My Train Preferences',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart5'));
        chart.draw(data, options);
      }
	  
	  function drawChart6() {
        
    	 var data = google.visualization.arrayToDataTable([
          ['Berths', 'Count'],
			{% for e in berths %}['{{ e.berth_selection }}',{{ e.count_berth }}],{% endfor %}
		  ]);
        
        
        var options = {
          //title: 'My berth selections',
		  legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart6'));
        chart.draw(data, options);
      }
	  
	  function drawChart7() {
		  var data = new google.visualization.DataTable();
      data.addColumn('string', 'Year');
      data.addColumn('number', 'NumberOfJourneys');

      data.addRows([
			{% for e in number_of_journeys_in_a_year %}['{{ e.year }}',{{ e.all_from }}],{% endfor %}
      ]);

      var options = {
		legend: 'none',
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'NumberOfJourneys'
        }
      };

		var chart = new google.visualization.LineChart(document.getElementById('bargraph1'));

		  chart.draw(data, options);
      }
	  
	  function drawChart8() {
		var data = google.visualization.arrayToDataTable([
			['Month', 'NumberOfJourneys'],
			{% for e in number_of_journeys_in_a_month %}['{{ e.months }}',{{ e.all_from }}],{% endfor %}
		  ]);

		  var options = {
			legend: 'none',
			hAxis: {title: 'month', titleTextStyle: {color: 'red'}}
		  };

		  var chart = new google.visualization.ColumnChart(document.getElementById('bargraph2'));

		  chart.draw(data, options);
      }
	  
	  function drawChart9() {
		var data = google.visualization.arrayToDataTable([
			['Weekday', 'NumberOfJourneys'],
			{% for e in number_of_journeys_in_a_weekday %}['{{ e.days }}',{{ e.all_from }}],{% endfor %}
		  ]);

		  var options = {
			hAxis: {title: 'weekDay', titleTextStyle: {color: 'red'}}
		  };

		  var chart = new google.visualization.ColumnChart(document.getElementById('bargraph3'));

		  chart.draw(data, options);
      }
	  
    </script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=370684603080544&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>    	  
</head>
<body style="text-align: center;">
	<div id="fb-root"></div>
	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
				{% if user.is_authenticated %}
					<h3 class="masthead-brand">Hello {{name}} !</h3>
				{% else %}
					<h3 class="masthead-brand">Hello Guest !</h3>
				{% endif %}
              <ul class="nav masthead-nav">
			  {% if user.is_authenticated %}
                <li><a href="/entry/add_entry/">Add a Journey</a></li>
                <li><a href="/journeys/records/">Records</a></li>
                <li><a href="/journeys/">Statistics</a></li>
				<li><a href="/entry/">Logout</a></li>
			  {% else %}
				<li><a href="/login/register/">Register Here</a></li>
				<li><a href="/login/login/">Login</a></li>
			  {% endif %}
              </ul>
            </div>
          </div>
  
        <div class="inner cover">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Your Travelogue</h3>
					<div class="fb-share-button" data-href="http://localhost:8000/powerfactor/" data-layout="button_count"></div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div id="inner-left-4" class="col-lg-4">
							<h1><b style="color: #336699; font-size:80px;">{{total_distance_travelled}}</b></h1>
							<h2>Approximate Total distance travelled in km</h2>
						</div>
						<div id="inner-centre" class="col-lg-4">
							<h1><b style="color: #336699; font-size:80px;">{{number_of_trains}}</b></h1>
							<h2>Number of Trains you've travelled in</h2>
						</div>
						<div id="inner-right" class="col-lg-4">
							<h1><b style="color: #336699; font-size:80px;">{{number_of_places}}</b></h1>
							<h2>Number of places you've been to</h2>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div id="inner-left-8" class="col-lg-8">
					<div class="panel panel-info">
					<div class="panel-heading">
					<h3>Bird's eye view of your travel</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div  id="map-canvas" style="width: 100%; height: 738px;"> </div>
						</div>
					</div>
					</div>
				</div>
				
				<div id="inner-right-4" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Longest Journey till date</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{longest_journey}}</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Total number of journeys</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{total_number_of_journeys}}</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Avergae length of journeys</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{average_length_of_journeys}} km</b></h1>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Travelogue Rank</h3>
						</div>
						<h1><b style="color: #336699; font-size:80px;">{{travelogue_rank_distance}}</b></h1>
					</div>
				</div>
            </div>
		  
			<div class="row">
				<div id="inner-left" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Train Selections</h3>
						</div>
					<div class="panel-body">
						<div id="piechart1" style="width: 100%; height: 500px;"></div>
					</div>
					</div>
				</div>
				<div id="inner-centre" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Top Source Stations</h3>
						</div>
						<div class="panel-body">
							<div id="piechart2" style="width: 100%; height: 500px;"></div>
						</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Top Destinations</h3>
						</div>
						<div class="panel-body">
							<div id="piechart3" style="width: 100%; height: 500px;"></div>
						</div>
					</div>
				</div>
			</div>
		  	
			<div class="row">
				<div id="inner-left" class="col-lg-4">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Class Preferences</h3>
					</div>
					<div class="panel-body">
					<div id="piechart4" style="width: 100%; height: 500px;"></div>
					</div>
					</div>
				</div>
				<div id="inner-centre" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Train Type Selections</h3>
						</div>
						<div class="panel-body">
							<div id="piechart5" style="width: 100%; height: 500px;"></div>
						</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Berth Fortunes</h3>
						</div>
						<div class="panel-body">
							<div id="piechart6" style="width: 100%; height: 500px;"></div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Time-line of your travels by year</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div id="bargraph1" style="width: 100%; height: 500px"></div>	
					</div>
				</div>
			</div>
			
			
			
			<div class="row">
				<div id="inner-left" class="col-lg-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Journey Stats by Month</h3>
					</div>
					<div class="panel-body">
						<div id="bargraph2" style="width: 100%; height: 500px"></div>
					</div>
					</div>
				</div>
				<div id="inner-right" class="col-lg-6">
					<div class="panel panel-info">
					<div class="panel-heading">
						<h3>Journey Stats by Weekdays</h3>
					</div>
					<div class="panel-body">
						<div id="bargraph3" style="width: 100%; height: 500px"></div> 
					</div>
					</div>
				</div>
            </div>

          <div class="mastfoot">
            <div class="inner">
              <p></p>
            </div>
          </div>

        </div>

      </div>

    </div>
    </div>

<script>
// First, create an object containing LatLng and population for each city.
var citymap = {};
{% for e in lat_long_list_of_stations %}
citymap['{{e.station_name}}'] = {
  center: new google.maps.LatLng({{e.station_lat}}, {{e.station_long}}),
  population: {{e.visits}}*100000
};
{%endfor%}

var cityCircle;

function initialize() {
  // Create the map.
  var mapOptions = {
    zoom: 5,
  	scrollwheel:false,
  	center: new google.maps.LatLng(22.830852, 80.278573),
  	mapTypeId: google.maps.MapTypeId.HYBRID 
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Construct the circle for each value in citymap.
  // Note: We scale the area of the circle based on the population.
  for (var city in citymap) {
    var populationOptions = {
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: citymap[city].center,
      radius: Math.sqrt(citymap[city].population) * 100
    };
    // Add the circle for this city to the map.
    cityCircle = new google.maps.Circle(populationOptions);
  }
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
</body>
</html>